# pip install -r requirements.txt
geopy==2.3.0 
folium==0.14.0
openrouteservice==2.4.0
requests==2.31.0
pandas==2.1.1      
jsonschema==4.19.0  
pymongo==4.6.0       # MongoDB
mysql-connector-python==8.1.0  # MySQL
